body {
  width: 500px;
}

h1 {
  font-size: 1.5em;
  margin-left: 20px;
}

ul#site-navigation {
  list-style: none;
}

ul#site-navigation li {
  display: inline;
  margin-left: 0px;
  margin-right: 20px;
}

ul#site-navigation li:first-child {
  font-size: 20px;
}
